@import "tailwindcss";

@font-face {
  font-family: 'Moralana';
  font-weight: 400; 
  font-style: normal;
  font-display: swap;
  src: url('../public/assets/fonts/Moralana.otf') format('opentype');
}

@theme {
  --font-moralana: 'Moralana', sans-serif;

  --breakpoint-xs: 475px;
  --breakpoint-xxs: 430px;
}

* {
  background-color: rgb(252, 246, 235);
}