@import "tailwindcss";

@layer utilities {
  .font-coolvetica {
    font-family: 'Coolvetica', sans-serif;
  }
  .font-coolvetica-light {
    font-family: 'Coolvetica-Light', sans-serif;
  }
  .font-moralana {
    font-family: 'Moralana', sans-serif;
  }
}

@theme {
  --breakpoint-xs: 475px;
  --breakpoint-xxs: 430px;
}

* {
  background-color: rgb(252, 246, 235);
}